<h2>投稿一覧</h2>

<div>
  <% @post.each do |pos| %>
    <h4>投稿者</h4>
    <p><%= pos.user.name %></p>
    <p><%= attachment_image_tag pos.user.profile_image, :image, :fill, 100, 100, fallback: "no_image.jpg" %></p>
    <p><%= attachment_image_tag pos, :image, :fill, 500, 500, format: 'jpeg'  %></p>
    <p><%= pos.sentence %></p>
  <% end %>
</div>