<div class="row">
  <div class="col-md-7 m-auto">
    <div class="mt-5">
      <h2>新規投稿</h2>
      <div class="mt-4">
        <%= form_with model: @post, local: true do |f| %>
          <div class="d-flex"><h4>画像</h4>
            <div class="ml-5"><%= f.attachment_field :image, class:'btn btn-secondary' %></div>
          </div>
          <div class="mt-5">
          <h4>投稿内容</h4>
            <div class="mt-3"><%= f.text_area :sentence, class:'form-group-lg form-control' %></div>
            <div class="col-md-2 ml-auto mt-4"><%= f.submit '投稿する', class:'btn btn-secondary' %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

